{% extends 'base.html.twig' %}

{% block title %}TCPX LLP{% endblock %}

{% block body %}
    <div id="content">

        <div class="row mt-5 center">
            <div class="col-md-5">

                <div class="box">
                    <div class="box-content">
                        We believe complex legacy code is bad for business, automation of refactoring is the future and
                        we want to bring it to your company to ensure maintainability, code quality and simplicity.
                        Future-proof your codebase.
                    </div>
                </div>

                <div class="box">
                    <div class="box-user">
                        <div>
                            <img class="user-image" src="{{ asset('images/kerrial.jpg') }}" alt="Kerrial Newham">
                        </div>
                        <div>
                            <ul>
                                <li>Managing director</li>
                                <li>PHP Developer</li>
                                <li>7 years experience</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
