{% extends 'base.html.twig' %}

{% block title %}TCPX LLP{% endblock %}

{% block body %}
    <div class="row justify-content-center" id="content">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>E-mail Address</div>
                        <div>info@tcp.co.uk</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
