{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-6">

                <div class="display-4 fw-bold text-uppercase mb-2">
                    Call now for <span style="color: #bc0357;">free</span> codebase analysis
                </div>
                <div class="h1 mb-5">free codebase analysis available until 31.05.2023</div>

                <div class="card">
                    <div class="card-body">Call us now to get a quotation or a free codebase analysis</div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>+420 608 187 548</div>
                            <div class="mdi mdi-phone fs-3"></div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>info@tcpx.co.uk</div>
                            <div class="mdi mdi-email fs-3"></div>
                        </div>
                        <div class="list-group-item  d-flex justify-content-between align-items-center">
                            <div>Company Number: OC432045</div>
                            <div class="mdi mdi-pound fs-3"></div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>Office 4, 219 Kensington High Street, Kensington, London, W8 6BD</div>
                            <div class="mdi mdi-map-marker fs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}