{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-8">
                <div>
                    <div class="display-4 text-black fw-bold text-uppercase">
                        Code <span style="color: #bc0357;">smarter</span>, <br/> not harder.</div>
                    <h3 class="mb-5 text-muted">Reduce unnecessary overcapacity</h3>

                    <p>
                        We specialize in building advanced web applications for businesses of all sizes. With 20 years of
                        collective experience and a team of skilled developers, we provide end-to-end solutions for complex
                        web development projects. <br/><br/>
                        We are committed to delivering efficient, scalable, and secure software systems. From architecture
                        consultation to feature development, we offer a range of services tailored to meet the unique needs
                        of our clients. With a focus on quality and client satisfaction, we strive to exceed expectations
                        and deliver exceptional results.
                    </p>
                </div>

                <div class="row g-3 justify-content-around align-items-center">
                    <hr/>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid association-logo" src="{{ asset('images/assosiation/rwe-logo-300.png') }}">
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid association-logo"
                             src="{{ asset('images/assosiation/vodafone-logo-300.png') }}">
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid association-logo" src="{{ asset('images/assosiation/rector-logo-300.png') }}">
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="img-fluid association-logo" src="{{ asset('images/assosiation/townpoint-logo-300.png') }}">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}