{% extends 'base.html.twig' %}

{% block title %}TCPX LLP{% endblock %}

{% block body %}

   <div class="mt-5">
       <h1>What do we do?</h1>
   </div>

    <div class="row justify-content-center" id="content">


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Step 1</div>
                <div class="card-body">
                    Simplify structures and architecture
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Step 2</div>
                <div class="card-body">
                    Update and refactor code base
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Step 3</div>
                <div class="card-body">
                    Simplify and reduce complexity
                </div>
            </div>
        </div>

    </div>
{% endblock %}
