{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-8">
                <div>
                    <div class="display-4 text-black fw-bold text-uppercase">
                        Code <span style="color: #bc0357;">smarter</span>, <br/> not harder.
                    </div>

                    <h3 class="mb-5 mt-3">
                        We specialise in PHP framework migration and codebase quality & standards
                        adherence.<br/><br/>
                    </h3>

                    <ul class="fs-4">
                        <li>Need to migrate codebase to a framework?</li>
                        <li>Need to upgrade PHP version?</li>
                        <li>Need to improve code quality?</li>
                        <li>Need to improve team productivity or communication?</li>
                    </ul>
                </div>

                <div class="row g-3 justify-content-around align-items-center">
                    <hr/>
                    <div class="col-4 col-md-3">
                        <img class="img-fluid association-logo"
                             src="{{ asset('images/assosiation/rwe-logo-300.png') }}">
                    </div>
                    <div class="col-4 col-md-3">
                        <img class="img-fluid association-logo"
                             src="{{ asset('images/assosiation/vodafone-logo-300.png') }}">
                    </div>
                    <div class="col-4 col-md-3">
                        <img class="img-fluid association-logo"
                             src="{{ asset('images/assosiation/rector-logo-300.png') }}">
                    </div>
                    <div class="col-4 col-md-3">
                        <img class="img-fluid association-logo"
                             src="{{ asset('images/assosiation/townpoint-logo-300.png') }}">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}