{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <div class="row justify-content-center g-3">
                <div class="col-12 col-md-6">

                    <iframe class="mb-5" width="100%" height="415"
                            src="https://www.youtube.com/embed/_it2tI3ZkMM?si=CWosCYVfp-b5kgyX&autoplay=1&mute=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="display-6 text-black fw-bold text-uppercase">
                        Project Upgrade
                    </div>

                    <div class="lead my-3">A project upgrade often involves upgrading from a programming language and/or
                        upgrading a framework version. We take the following steps to ensure a safe and consistent upgrade.
                    </div>

                    <div class="list-group list-group-flush mb-5">
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="fs-3 d-flex justify-content-start align-items-center">
                                <div class="mdi mdi-numeric-1-circle fs-1 me-3"></div>
                                <div>Analysis</div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We sign a Non-disclosure agreement (NDA) so you know your code is in safe hands.</div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We run automated analysis programs to find issue in your codebase.</div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We deliver, for a one-time pre-payment of 5,000 - 8,000 EUR, a PDF report of found issues
                                and
                                a timeline for fixing them.
                            </div>
                        </div>
                    </div>

                    <div class="list-group list-group-flush mb-5">
                        <div class="list-group-item d-flex justify-content-start align-items-start">

                            <div class="fs-3 d-flex justify-content-start align-items-center">
                                <div class="mdi mdi-numeric-2-circle fs-1 me-3"></div>
                                <div>Upgrade</div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We will work in parallel with your team for 20 - 40 hours per week
                                implementing fixes to your codebase.
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We start with the smallest and easiest issues, we work on a start one -
                                finish one basis, this means we create a change and merge it immediately, no stale branches.
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-check-circle lh-1 text-success fs-1 me-3"></div>
                            <div>We can schedule once a month meetings to discuss progress, blockers and adapt
                                strategy if need be.
                            </div>
                        </div>
                    </div>

                    <div class="list-group list-group-flush mb-5">
                        <div class="list-group-item d-flex justify-content-start align-items-center">
                            <div class="fs-3">How much does it cost?</div>
                        </div>
                        <div class="list-group-item d-flex justify-content-start align-items-start">
                            <div class="mdi mdi-currency-eur lh-1 text-success fs-1 me-3"></div>
                            <div>
                                <div>5,000 - 8,000 EUR one-time payment for the analysis report</div>
                                <div>120-150 EUR per hour / invoiced weekly or monthly</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}