* {
    font-family: 'Blinker', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-header{
    background-color: transparent!important;
    text-align: center;
}

.nav-colour {
    background: #011826;
    color: #FFFFFF;
}

.logo {
    height: 250px;
}

.sticky {
    position: sticky;
    top: 0;
}

.logo-top {
    height: 75px;
    pointer-events: none;
}

#content{
    margin-top: 50px;
}

body {
    min-height: 100vh;
}