* {
    font-family: 'Blinker', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-header {
    background-color: transparent !important;
    text-align: center;
}

.nav-colour {
    background: #011826;
    color: #FFFFFF;
}

.logo {
    height: 250px;
}

.sticky {
    position: sticky;
    top: 0;
}

.logo-top {
    height: 75px;
    pointer-events: none;
}

#content {
    margin-top: 50px;
}

body {
    min-height: 100vh;
}


.box {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-header {
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.box-content-item {
    text-align: center;
    padding: 10px;
}

.box-content {
    padding: 10px;
}

.box-user .user-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-size: contain;
    padding: 10px;
}

.box-between-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-user {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-user ul {
    padding: 0;
}

.box-user ul li {
    list-style: none;
}

.nav-pills .nav-link {
    color: rgba(0, 0, 0, 0.63);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgba(0, 0, 0, 0.63) !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.custom-tab-style {
    margin: 0 10px 20px 10px!important;
}

.red{
    background-color: #BE0358;
}
.yellow{
    background-color: #FFCE05;
}

.blue{
    background-color: #37A2B9;
}

.custom-tab-content-style{
    color: #FFFFFF;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-tab-content-style .tab-pane ul{
    padding: 0;
}

.center{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #011826;
    color: #FFFFFF;
}